*.patch
.idea
.bloop
*.iml
.*.sw?
target/**
logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
**/RUNNING_PID
/.settings
login/build.sbt
login/conf/application.prod.conf
login/conf/version.conf
megamanzero/build.sbt
signer/build.sbt
slat/build.sbt
account/build.sbt
analytic/build.sbt
**/node_modules
test-results.xml
**/analytic/log
login/conf/build.conf


.bloop/
.metals/
project/metals.sbt
build-output